.toast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items to the start of the flex container */
  border-radius: 5px;
  color: #FFF;
  padding: 10px 20px;
  margin: 10px 0;
  width: 300px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  animation: slideIn 0.5s forwards;
  font-family: 'Arial', sans-serif;
  /* Background color is set dynamically inline */
}

.message {
  margin-bottom: 10px; /* Adjust as needed for space between text and button */
}

.close-button {
  align-self: flex-end; /* Aligns the button to the end of the flex container */
  border: none;
  background-color: #4a1313b9;
  color: inherit;
  cursor: pointer;
  padding: 6px 8px;
  transition: transform 0.3s ease;
}


.close-button:focus {
  outline: none;
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

.toast-exit {
  animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}
